[submodule "facenet"]
	path = facenet
	url = https://github.com/gnastacast/facenet.git
[submodule "flask/static/webgl-globe"]
	path = flask/static/webgl-globe
	url = https://github.com/gnastacast/webgl-globe.git
