<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}"> 
</head>
<body>
  <div id='main_buttons'>
    <ul>
      <a onclick="goto_0()"><li><span>Waiting for user</span></li></a>
      <a onclick="goto_1()"><li><span>Landing page</span></li></a>
      <a onclick="goto_2()"><li><span>Searching database</span></li></a>
      <a onclick="goto_3()"><li><span>Search results</span></li></a>
      <a onclick="goto_4()"><li><span>Face search</span></li></a>
    </ul>
  </div>
  <div id='landing_container' style="">
    <table class="center">
      <tr>
        <td id='name_container'>
          <p id='name_text'>Hello Nico</p>
          <button id="begin" onclick="begin()" type="button" class='pink'>
              <div >
                <p class="center">Allow Aura to use my likeness</p>
              </div>
          </button>
        </td>
        <td>
          <div id='user-video' style="margin-left: 0px; width: 0px; transition: all .25s ease-out;">
            <img  class="webcam-img" src="{{ url_for('static', filename='images/user.jpg') }}"/>
          </div>
        </td>
      </tr>
    </table>
    <div id='logo'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 768" height="40%" width="40%" class="center" style='display:inline-block;'>
        <style>.a{stop-color:#1072ba;}.b{stop-color:#642e92;stop-opacity:1;}.c{stop-color:#93298e;}</style>
        <defs>
          <clipPath id="clippath_anim">
            <path d="m113.4 38.4c23.8 22.2 25 57.1 2.8 80.8-22.2 23.8-59.5 25-83.2 2.8C9.2 99.8 7.9 64.9 30.1 41.1 52.3 17.4 89.6 16.2 113.4 38.4ZM12.3 35.3C7 46.2 6 57.2 4.9 69.1 4.2 77.4 3.1 85.2 1.5 93.4 0.1 100.9-1 108.9 1.5 116.3c3.7 11.1 13.4 21.7 25.3 23.7 7.8 1.4 15.2 4 22.6 6.5 6.4 2.1 12.2 6.2 18.6 8.4 7.2 2.4 13.3 1.7 20.3-1.1 14.8-6 27.8-16.6 36.7-30 6-9.1 10.1-20.4 12.7-30.9 2-8 2.9-17 0.5-25-0.5-1.7-1.1-3.3-1.8-4.9C127 39.5 111.6 15.1 87.2 4.3 68.4-4 46.8 0.3 30.8 12.6 23 18.6 16.7 26.4 12.3 35.3">
              <animate  dur="1s" repeatCount="indefinite" attributeName="d" id="path_anim"
                values=""/>
            </path>
          </clipPath>
          <linearGradient gradientTransform="matrix(136.373,-49.4422,49.4422,136.373,-2.88337,104.3)" y2="0" x2="1.17487" y1="0" x1="-0.103708" gradientUnits="userSpaceOnUse" id="linear0">
            <stop id="stop-0" class="a" offset="-2" />
            <stop id="stop-1" class="b" offset="-1.61" />
            <stop id="stop-2" class="c" offset="-0.98" />
            <stop id="stop-3" class="b" offset="-0.39" />
            <stop id="stop-4" class="a" offset="0" />
            <stop id="stop-5" class="b" offset="0.61" />
            <stop id="stop-6" class="c" offset="0.98" />
          </linearGradient>
        </defs>
        <g transform="translate(-10.815422 614.04147)matrix(4.567124 0 0 4.567124 75.986409 -587.17343)">
          <path d="m56.1 64.9c-4.2 4.3-6.3 9.4-6.3 15.4 0 6.1 2.1 11.2 6.3 15.5 4.3 4.2 9.4 6.3 15.5 6.3 6.1 0 11.2-2.1 15.4-6.3 4.3-4.3 6.4-9.4 6.4-15.5 0-6-2.1-11.2-6.4-15.4-4.3-4.3-9.4-6.4-15.4-6.4-6.1 0-11.2 2.1-15.5 6.4zm42.3-11.4c7.4 7.4 11.1 16.4 11.1 26.8v30c0 2.2-0.8 4.1-2.4 5.6-1.6 1.6-3.4 2.4-5.6 2.4h-0.2c-2.2 0-4-0.8-5.6-2.4-1.6-1.5-2.4-3.4-2.4-5.6-5 5.3-12.3 8-21.8 8-10.5 0-19.4-3.7-26.8-11.1-7.4-7.4-11.1-16.4-11.1-26.8 0-10.5 3.7-19.4 11.1-26.8 7.4-7.4 16.4-11.1 26.8-11.1 10.5 0 19.4 3.7 26.8 11.1" fill="white"/>
          <g clip-path="url(#clippath_anim)">
            <path d="M-50.1 18.2 16.3 201.4 190.7 138.2 124.3-45Zm0 0" fill="url(#linear0)"/>
          </g>
          <path stroke="white" fill="transparent" id="svg_8">
            <animate  dur="10s" repeatCount="indefinite" attributeName="d" values="" id="path_anim"/>

          </path>
        </g>
      </svg>
      <button onclick="goto_1()" style="width: 300px; position: absolute; margin-top: 15%;" class='blue center'>
          <div>
            <p class="center">Touch wristband to start</p>
          </div>
      </button>
    </div>
  </div>
  <table id='globe_container'>
    <tr>
      <td>
        <ul id="search-list">
          <li>
            Searching public information leaks such as Cambridge Analytica (2016)
          </li>
          <li>
            Searching US biometric database (Rolled out in May 2020)
          </li>
          <li>
            Searching YITU facial payment database (In use 2016 to present)
          </li>
          <li>
            Searching 570 million CCTV camera database (In use 2016 to present)
          </li>
          <li>
            <button class="blue center" style="width:150px;" onclick="goto_3()"><div ><p class="center">Continue</p></div></button>
          </li>
        </ul>
      </td>
      <td>
        <div id="currentInfo" style="display:none">
          <span id="year1" class="year">1990</span>
          <span id="year2" class="year">1995</span>
          <span id="year3" class="year">2000</span>
          <span id="year4" class="year">2000</span>
        </div>
        <div id='globe'>
        </div>
      </td>
    </tr>
  </table>
  <div id="credit_score_container">
    <div id=credit_score_grid>
      <p class="credit_score_title">Your Social Credit Score</p>
      <div class="credit_score">
        <div class="credit_score_mask">
          <div class="credit_score_bg">
            <div class="credit_score_segment" style="--bg:var(--aura-red); --value:68"></div>
            <div class="credit_score_segment" style="--bg:var(--aura-yellow); --value:68; --offset:70"></div>
            <div class="credit_score_segment" style="--bg:var(--aura-green); --value:40; --offset:140"></div>
          </div>
          <div class="credit_score_marker"></div>
          <div class="credit_score_label"></div>
        </div>
      </div>
      <p class="credit_score_subtitle">Contributing Factors. Press a factor for more information</p>
        <div class="factor" style="--bg:var(--aura-green);"  onclick="show_factor_overlay(0)"><div><p>Purchases and payments</p><h1 id="payment_total">$320</h1></div></div>
        <div class="factor" style="--bg:var(--aura-yellow);" onclick="show_factor_overlay(1)"><div><p>Travel</p><h1 id="travel_total">4</h1></div></div>
        <div class="factor" style="--bg:var(--aura-green);"  onclick="show_factor_overlay(2)"><div><p>Verified social networks</p><h1 id="social_total">3</h1></div></div>
      <div class="credit_score_content">
        <p  class="credit_score_description">Based on this score you are able to travel freely, attend private schools, and apply for loans</p>
      </div>
      <div style="grid-area: button;"><button class="blue center" style="width:150px;" onclick="goto_4()"><div ><p class="center">Continue</p></div></button></div>
    </div>

    <div class="factor overlay">
      <div>
        <h1>Purchases and Payments</h1>
        <p>Payments to businesses or individuals with poor social credit scores may result in lowering your score. Always encourage businesses and friends to be honest about their credit scores. Report false credit scores at <u>https://www.dhs.gov/how-do-i/report-suspicious-activity</u></p>
        <ul id="payment_list">
            <li><span class="credit-score-dot green"></span>You paid Jonas Wisser $18.00 using Venmo on July 7 2019</li>
            <li><span class="credit-score-dot green"></span>You paid Anna Nelson $26.00 using Venmo on June 15 2019</li>
            <li><span class="credit-score-dot yellow"></span>Receipt for $5.00 at Commonplace Coffee Co on Sep 19 2017</li>
            <li><span class="credit-score-dot red"></span>You paid Micaela Corn $50.00 using Venmo on Sep 19 2017</li>
            <li><span class="credit-score-dot yellow"></span>Receipt for $24.91 at Five Points Artisan Bakeshop on Sep 16 2017</li>
            <li><span class="credit-score-dot green"></span>Receipt for $6.42 at Joes dog house on Sep 15 2017</li>
            <li><span class="credit-score-dot yellow"></span>Receipt for $4.05 at Artisan Cafe on Aug 25 2017</li>
            <li><span class="credit-score-dot red"></span>Receipt for $9.84 at New Mexican Cuisine on Aug 15 2017</li>
            <li><span class="credit-score-dot green"></span>Receipt for $12.55 at Tazikis Mediterranean Cafe on Aug 9 2017</li>
        </ul>
      </div>
      <button class="exit" style="width:60px;" onclick="close_factor_overlay(0)"><div ><p class="center">X</p></div></button>
    </div>

    <div class="factor overlay">
      <div>
        <h1>Travel</h1>
        <p>Travelling excessively can affect your social credit in multiple ways. Trustworthy citizens are hard workers and do not travel frivolously. If your job requires excessive travel, your business must be registered with the Department of Homeland Security. In addition, the more places you go the more likely it is that facial recognition mistakes you for someone else.</p>
        <ul id="travel_list">
            <li><span class="credit-score-dot yellow"></span>Mexico City, MX on July 7 2019</li>
            <li><span class="credit-score-dot yellow"></span>Atlanta, GA on on Sep 19 2017</li>
            <li><span class="credit-score-dot yellow"></span>Quito, EC on Aug 25 2017</li>
            <li><span class="credit-score-dot yellow"></span>Lima, PE on Aug 9 2017</li>
        </ul>
      </div>
      <button class="exit" style="width:60px;" onclick="close_factor_overlay(1)"><div ><p class="center">X</p></div></button>
    </div>

    <div class="factor overlay">
      <div>
        <h1>Verified social networks</h1>
        <p>If you are a part of a social network, it is highly reccomended to change your preferences to allow government oversight. Much like a normal credit score and credit cards, the more consistent and responsible your usage is, the better your social credit score becomes.</p>
        <ul id="social_network_list">
            <li><span class="credit-score-dot green"></span>Facebook</li>
            <li><span class="credit-score-dot green"></span>Instagram</li>
            <li><span class="credit-score-dot green"></span>LinkedIn</li>
        </ul>
      </div>
      <button class="exit" style="width:60px;" onclick="close_factor_overlay(2)"><div ><p class="center">X</p></div></button>
    </div>
  </div>
  <div id='face_search_container'>
    <div id="explanation_overlay">
      <p class="center">Aura's facial recognition technology is state of the art, yet the possibility remains that our facial recognition software may confuse you with someone else. We believe that although this possibility is remote, we can leverage our technology to help you put your best face forward. On the next screen, we will show you close matches to your face in real time, as well as the effect of facial misrecognition on your perceived social credit score. Try to find a facial posture that presents you safely as an honest citizen. Keep in mind that what looks similar to a human may not look similar to an algorithm.</p>
      <button onclick="hide_explanation()" style="width: 100px; position: absolute; margin-top: 15%;" class='blue center'>
          <div>
            <p class="center">Begin</p>
          </div>
      </button>
    </div>
    <div style="grid-row:1/3; height: 83%; width:80%;" >
      <img  class="webcam-img"src="{{ url_for('static', filename='images/user.jpg') }}" style="width:80%;"/>
      <p><span class="true credit-score-dot green"></span>True social credit score</p>
      <p><span class="fake credit-score-dot"></span>Perceived social credit score</p>
      <button onclick="goto_0()" style="width: 300px; margin-top: 5%;" class='blue'>
          <div>
            <p class="center">Finish and get results</p>
          </div>
      </button>
    </div>
    <div class='result' style="align-self:end;">
      <img  id="result-img-A" src="{{ url_for('static', filename='images/000001.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
    <div class='result' style="align-self:end;">
      <img  id="result-img-B" src="{{ url_for('static', filename='images/000002.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
    <div class='result' style="align-self:baseline;">
      <img  id="result-img-C" src="{{ url_for('static', filename='images/000003.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
    <div class='result' style="align-self:baseline;">
      <img  id="result-img-D" src="{{ url_for('static', filename='images/000000.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
    <div class='result' style="align-self:baseline; display:none;">
      <img  id="result-img-E" src="{{ url_for('static', filename='images/000001.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
    <div class='result' style="align-self:baseline; display:none;">
      <img  id="result-img-F" src="{{ url_for('static', filename='images/000002.png') }}"/>
      <span class="credit-score-dot-img"></span>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='webgl-globe/globe/third-party/Detector.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='webgl-globe/globe/third-party/three.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='webgl-globe/globe/third-party/Tween.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='webgl-globe/globe/globe.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/logo_wobble.js') }}"></script>
  <script type="text/javascript">
        document.getElementById('path_anim').setAttribute('values', make_wobble_anim(80,73,80,70,5,20));
        document.getElementById('path_anim').setAttribute('dur', '10s');
  </script>
  <script type="text/javascript"> 
  // GLOBE STUFF 
    if(!Detector.webgl){
      Detector.addGetWebGLMessage();
    } else {
      var globeContainer = document.getElementById('globe');
      var globe = new DAT.Globe(globeContainer);

      console.log(globe);

      var years = ['1','2','3', '4'];

      console.log(globe);
      var i, tweens = [];
      
      var settime = function(globe, t) {
        return function() {
          new TWEEN.Tween(globe).to({time: t/years.length},500).easing(TWEEN.Easing.Cubic.EaseOut).start();
          var y = document.getElementById('year'+years[t]);
          // if (y.getAttribute('class') === 'year active') {
          //   return;
          // }
          var yy = document.getElementsByClassName('year');
          for(i=0; i<yy.length; i++) {
            yy[i].setAttribute('class','year');
          }
          // y.setAttribute('class', 'year active');
        };
      };
      
      for(var i = 0; i<years.length; i++) {
        var y = document.getElementById('year'+years[i]);
        y.addEventListener('mouseover', settime(globe,i), false);
      }

      var xhr;
      TWEEN.start();      
      xhr = new XMLHttpRequest();
      xhr.open('GET', "{{ url_for('static', filename='webgl-globe/globe/population909500.json') }}", true);

      xhr.onreadystatechange = function(e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            window.data = data;
            for (i=0;i<data.length;i++) {
              globe.addData(data[i][1], {format: 'magnitude', name: data[i][0], animated: true});
            }
            globe.createPoints();
            settime(globe,1)();
            globe.animate();
            // document.body.style.backgroundImage = 'none'; // remove loading
          }
        }
      };
      xhr.send(null);
    }
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>
</html>